* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 45%;
}
.navbar {
  display: block;
  font-size: 3rem;
  color: white;
}

#nav {
  display: none;
}

#cta {
  display: none;
}

.sec2 {
  display: block;
}

#hero-text {
  width: 85vw;
  margin-left: 2.5rem;
  margin-top: 7.25rem;
  margin-bottom: 2.5rem;
}

#heroimg {
  width: fit-content;
  background-color: rgba(197, 218, 249, 0.194);
  border-radius: 312.5rem;
  padding: 20px;
}

#heroimg img {
  width: 300px;
}

.div1 {
  display: block;
  text-align: center;
  margin-top: 50px;
}

.sec3a img {
  width: 50.875rem;
  height: auto;
  border-radius: 10px;
  margin-top: 20px;
}

.sec4a button {
  padding: 1.25rem 2.75rem;
  background-color: white;
  border: 0;
  border-radius: 300px;
}

.sec4 {
  width: 92vw;
  margin: 4.375rem;
  padding-top: 30px;
  min-height: 40vh;
}
